body {
  background-color: rgb(206, 206, 206);
}
.nav-icon a {
  margin: 10px;
}
.nav-icon img {
  width: 25px;
}

.container1 {
  /* background-color: gold; */
  background-color: white;
  margin-bottom: 1px;
}
.text-justify {
  text-align: justify;
}
.row-1 > .col-6:first-child,
.container2 .col-8 {
  padding: 5%;
}
.row-1 button,
.row1 button,
.row2 button {
  border-style: none;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: transparent;
  color: gray;
}
.row-1 img {
  width: 100%;
  height: 93vh;
  object-fit: cover;
}

.container2 {
  width: 100%;

  height: 50%;
  /* background-color: red; */
}
.container2 .row {
  height: 100%;
}
.container2 .row1 {
  /* background-color: blue; */
  background-color: white;
  margin-bottom: 1px;
}
.container2 .col-4 {
  padding: 0;
  margin: 0;
}
.container2 img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.container2 .row2 {
  /* background-color: purple; */
  background-color: white;
  margin-bottom: 1px;
}
.container3 {
  background-color: white;
  padding: 0;
}
.container3 h2 {
  margin: 0;
}

.container3 .row div {
  height: 300px;
  background-color: red;
  padding: 0;
}
.container3 .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container3 .container {
  width: 100%;
  padding: 0;
}
.container4 {
  background-color: white;
  padding: 0 10%;
}
.container4 .container-fluid {
  background-color: rgb(211, 210, 210);
}

.container4 .row h4 {
  margin: 30px;
}

.container4 .row .col-4 {
  /* height: 40vh; */
  background-color: white;
}

.c2,
.c3 {
  box-shadow: -1px 1px 1px gray;
}
.c5,
.c6 {
  box-shadow: -1px -1px 1px gray;
}
.c4 {
  box-shadow: 1px -1px 1px gray;
}
.container4 .container-fluid {
  background-color: white;
}
.container5 {
  background-color: white;
}
.container5 .container {
  height: 76%;
  /* background-color: red; */
  padding: 0 12%;
}
.container5 form input {
  border-radius: 5px;
  border: 1px solid gray;

  width: 100%;
}
.container5 .form-text div {
  width: 32%;
  justify-content: space-between;
  height: 55px;
}
.form-text form {
  display: flex;
  color: black;
  justify-content: space-between;
}
.form-radio form {
  display: flex;
  margin: 3% 0px;
}
.form-radio form div {
  margin: 0px 10px;
}
.form-radio form input {
  width: 10px;
  margin: 0 5px;
  background-color: black;
}

.form-radio form label {
  margin-right: 30px;
}
.form-option {
  display: flex;
}
.form-option form {
  width: 100%;
}
.form-option form div select {
  width: 100%;
  border-radius: 5px;
}
input,
select {
  height: 30px;
}
.form-radio input {
  height: 10px;
}
.form-message {
  margin-top: 15px;
}
.form-message form div {
  width: 100%;
  height: 120px;
}
.form-message form div textarea {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.form-send form {
  /* margin: 15px 0px;
  height: 50px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 50px;
}
.form-send form button {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;

  background-color: white;
}
.form-send .c {
  width: 10px;
}
.human {
  display: flex;
}
.human input {
  margin-right: 10px;
}
.container6 {
  margin: 1px;
  padding: 10px 0;
  align-items: center;
}
.container6 p {
  margin-top: 10px;
  color: rgb(85, 85, 85);
}
.container6 .nav-icon {
  display: flex;
  align-items: center;
}
.container6 .nav-icon div {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #858585;
}
.container6 .nav-icon a {
  margin: 20px 3px;
}
@media (min-width: 600px) and (max-width: 850px) {
  .row1 > .col-4,
  .row1 > .col-8,
  .row2 > .col-4,
  .row2 > .col-8 {
    flex: 0 0 50%;
  }
  .container3 .row .col1,
  .col2 {
    flex: 0 0 50%;
  }
  .c4 {
    box-shadow: -0.8px -0.7px 1px rgb(66, 66, 66);
  }

  .c5,
  .c3 {
    box-shadow: 1px -1px 1px rgb(120, 120, 120);
  }
  .container4 .row .col-4 {
    flex: 0 0 50%;
  }
  .container3 .row .col-2 {
    flex: 0 0;
  }
  .container5 .container {
    height: 50%;
    /* background-color: red; */
    padding: 0 5%;
  }
  .form-radio form label {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .row-1 .col-6,
  .row1 .col-8,
  .row1 .col-4,
  .row2 .col-8,
  .row2 .col-4 {
    flex: 0 0 100%;
  }

  .row-1 .col-6:nth-child(2),
  .row2 .col-4:nth-child(2),
  .row1 .col-4:nth-child(2) {
    order: -1;
  }
  .container4 .row .col-4 {
    flex: 0 0 100%;
  }
  .c2,
  .c3,
  .c4,
  .c5,
  .c6 {
    box-shadow: 0px -1px 0px black;
    width: fit-content;
  }

  .container4 {
    padding: 50px;
  }

  .container1 .col-6 img {
    height: 80vh;
  }

  .container3 .row .col1 {
    flex: 0 0 100%;
  }
  .container3 .row .col-2 {
    flex: 0 0;
  }
  .container5 .container {
    width: 100%;
  }
  /* .container5 {
     height: 95vh; 
  } */
  .form-text form {
    height: 28vh;
    flex-direction: column;
  }
  .container5 .form-text div {
    width: 100%;
  }
  .container5 .form-radio form {
    flex-direction: column;
    margin: 20px 0px;
  }
  .form-radio form div {
    margin: 0px;
  }

  .form-radio form input {
    margin: 0;
  }
  .form-message {
    margin-top: 20px;
  }
  .container5 .container {
    padding: 0;
  }
}
