body {
  background-color: rgb(206, 206, 206);
}
.nav-icon a {
  margin: 10px;
}
.nav-icon img {
  width: 25px;
}

.container1 {
  /* background-color: gold; */
  background-color: white;
  margin-bottom: 1px;
}
.text-justify {
  text-align: justify;
}
.row-1 > .col-6:first-child,
.container2 .col-8 {
  padding: 5%;
}
.row-1 button,
.row1 button,
.row2 button {
  border-style: none;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: transparent;
  color: gray;
}
.row-1 img {
  width: 100%;
  height: 93vh;
  object-fit: cover;
}

.container2 {
  width: 100%;

  height: 50%;
  /* background-color: red; */
}
.container2 .row {
  height: 100%;
}
.container2 .row1 {
  /* background-color: blue; */
  background-color: white;
  margin-bottom: 1px;
}
.container2 .col-4 {
  padding: 0;
  margin: 0;
}
.container2 img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.container2 .row2 {
  /* background-color: purple; */
  background-color: white;
  margin-bottom: 1px;
}
.container3 {
  background-color: white;
  padding: 0;
}
.container3 h2 {
  margin: 0;
}

.container3 .row div {
  height: 300px;
  background-color: red;
  padding: 0;
}
.container3 .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container3 .container {
  width: 100%;
  padding: 0;
}
.container4 {
  background-color: white;
  padding: 0;
}
.container4 .container-fluid {
  background-color: rgb(211, 210, 210);
}

.container4 .row h4 {
  margin: 30px;
}
.container4 .row .col-4 {
  height: 40vh;
  background-color: white;
}
.c1,
.c2,
.c3 {
  box-shadow: 0px 2px 1px gray;
}
.c4,
.c5,
.c6 {
  box-shadow: 0px -0.7px 1px gray;
}
.container4 .container-fluid {
  background-color: white;
}
.container5 {
  height: 100vh;
}
.container5 .container {
  height: 50%;
  background-color: red;
  padding: 0 120px;
}
.container5 form input {
  border-radius: 5px;
  border-style: none;
  width: 350px;
}
.form-text form {
  display: flex;
  justify-content: space-between;
}
.form-radio {
  display: flex;
  margin: 20px 0px;
}

.form-radio form input {
  width: 10px;
  margin: 0 5px;
  background-color: black;
}
.form-radio form label {
  margin-right: 30px;
}
.form-option {
}
@media (min-width: 600px) and (max-width: 850px) {
  .row1 > .col-4,
  .row1 > .col-8,
  .row2 > .col-4,
  .row2 > .col-8 {
    flex: 0 0 50%;
  }
  .container3 .row .col1,
  .col2 {
    flex: 0 0 50%;
  }
  .c3,
  .c4,
  .c5,
  .c6 {
    box-shadow: 0px 0px 1px black;
  }
  .container4 .row .col-4 {
    flex: 0 0 50%;
  }
  .container3 .row .col-2 {
    flex: 0 0;
  }
}
@media (max-width: 600px) {
  .row-1 .col-6,
  .row1 .col-8,
  .row1 .col-4,
  .row2 .col-8,
  .row2 .col-4 {
    flex: 0 0 100%;
  }

  .row-1 .col-6:nth-child(2),
  .row2 .col-4:nth-child(2),
  .row1 .col-4:nth-child(2) {
    order: -1;
  }
  .container4 .row .col-4 {
    flex: 0 0 100%;
  }
  .c2,
  .c3,
  .c4,
  .c5,
  .c6 {
    box-shadow: 0px 0px 1px black;
  }
  .container1 .col-6 img {
    height: 80vh;
  }

  .container3 .row .col1 {
    flex: 0 0 100%;
  }
  .container3 .row .col-2 {
    flex: 0 0;
  }
}
